.resume__body {
    margin: 0;
    box-sizing: border-box
}

.res__edu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem 3rem;
}

.res_edu_title {
    font-size: 27px;
    font-weight: 500;
    line-height: 46px;
    font-family: 'poppins';
    margin: 0 0.4rem;
    padding: 0;
}

.r_e_l_title {
    align-items: center;
    display: flex;
}

.res__body__education{
    background-image: url("../../public/images/resumebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(432px + 1.1rem);
    color: #F8FBFB;
    overflow: hidden;
}

.edication {
    background: transparent;
    backdrop-filter: blur(7px);
    border: 2px solid #0b09093a;
    box-shadow: 6px 6px 8px #0000002f;
    padding: 0.3rem 1rem;
    height: calc(115px - 0.6rem);
    border-radius: 10px;
    margin: 1rem 1rem 1.5rem 0;
}

.session {
    font-size: 14px;
    color: #504e4da6;
}

.school_name {
    font-size: 14px;
    font-weight: 600;
}

.Degree {
    font-size: 14px;
    font-weight: 500;
}
.Degree span{
    color: #352f2a97;
    font-size: 90%;
}

.skills {
    background-color: #F8FBFB;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-radius: 0 0 20px 20px;
    padding: auto;
}

.skills-container span {
    padding: 0.3rem 0.7rem;
    background-color: #E1E8EF;
    border-radius: 8px;
    margin: 0.5rem;
}

.work__skill {
    padding-right: 3rem;
}

.soft__skill {
    padding-left: 3rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 1rem;
}


/* Responsive */

@media screen and (max-width: 400px) {
    .res__edu {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1rem 1rem;
    }

    .res__body__education{
        height: 100%;
        border-radius: 8px 8px 0 0;
    }
    .edication{
        margin-right: 0;
    }

    .work__skill {
        padding-right: 0;
    }
    .soft__skill {
        padding-left: 0;
    }
}
@media screen and (max-width: 1000px) {
    .res__edu {
        gap: 1rem;
        padding: 1rem 1rem;
    }

    .res__body__education{
        height: 100%;
        border-radius: 8px 8px 0 0;
    }
    .edication{
        margin-right: 0;
    }

    .work__skill {
        padding-right: 0;
    }
    .soft__skill {
        padding-left: 0;
    }

    .res_edu_title {
        font-size: 25px;
    }
}

/* Responsive */
