@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500&display=swap');

:root {
  --primary_bg_dark: #E80505;
  --primary_bg_light: #FF9C1A;
  --primary_bg: #E1E8EF;
  --primary_box_shado: #0b09097a;
  --f_color_d: #ffffff;
  --logo_bg: #F2F7FC;
  --main_body: #f2f5f9;
  --img_txt: #f2f5f9;
  --primary_gen_head: #0B0909;
  --c_detain_gen: #0b0909bc;
  --bb_border: #E3E3E3;
  --border_light: #0b09093a;
  --bg_tern: #F8FBFB;
  --full_black: #000;
  --inp_color: #ffffff76;
  --c__title: #1a100382;
  --contact_bg: url("../public/images/contactbg.jpg");
  --work_bg: url("../public/images/worlbg.jpg");
  --resume_bg: url("../public/images/resumebg.jpg");
  --about_cat_bg: url("../public/images/contactbg.jpg");
}

body.dark {
  --primary_bg_dark: #f57b7b;
  --primary_bg_light: #e6b085;
  --primary_bg: #2a2a2a;
  --primary_box_shado: #fefafa7a;
  --f_color_d: #1F1F1F;
  --logo_bg: #616161;
  --main_body: #292929;
  --primary_gen_head: #ffffff;
  --c_detain_gen: #ffffffbc;
  --bb_border: #4a4a4a;
  --border_light: #4a4a4a3a;
  --bg_tern: #1a1a1a;
  --full_black: #ffffff;
  --inp_color: #ffffff76;
  --c__title: #8f8a8a;
  --contact_bg: url("../public/images/contactbgdark.jpg");
  --work_bg: url("../public/images/workbgdark.jpg");
  --resume_bg: url("../public/images/resumebgdark.jpg");
  --about_cat_bg: url("../public/images/aboutcat.png");
  transition: all 0.5s ease-out;
}

/* General Styles */
.gen__head_comp {
  align-items: center;
  width: 460px;
  margin: 0;
  padding: 0;
  display: flex;
}

button {
  cursor: pointer;
}

.gen__head_comp h2 {
  margin: 0;
  font-family: 'poppins', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  padding: 1rem 0;
}

.gen__head_comp span {
  width: 252px;
  height: 2px;
  border-radius: 2px;
  margin-left: 0.3rem;
  background-image: linear-gradient(to left, var(--primary_bg_dark), var(--primary_bg_light));
}

.gen__title {
  font-size: 32px;
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  font-weight: 500;
  line-height: 40px;
  margin-top: 1.5rem;
}

@keyframes left_right {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right_left {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* General Styles */


/* Header Styles */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smart__animate {
  box-shadow: 0 0 2.5px var(--primary_box_shado);
}

.h__name {
  font-family: 'Pacifico';
  font-size: 24px;
  color: var(--c_detain_gen);
}

.h__name span {
  background: linear-gradient(to top, var(--primary_bg_dark), var(--primary_bg_light));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h__dark_logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--primary_bg);
  box-shadow: var(--primary_box_shado) 0 0 4px;
  border-radius: 50%;
}

.h__dark_logo img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/* Header Styles */



/* Main Body Design */

.m__hero {
  min-height: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 1.5rem;
  column-gap: 1.5rem;
  position: relative;
}

.button__gen {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(to bottom left, var(--primary_bg_dark), var(--primary_bg_light));
  color: var(--f_color_d);
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.logo_item {
  width: 55px;
  border-radius: 8.27px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 55px;
  background-size: cover;
  background: var(--logo_bg);
}

/* Main Body Left */
.m__hero__left {
  /* margin-top: auto; */
  flex: 1;
  height: 700px;
  border-radius: 8px;
  text-align: center;
  background: var(--f_color_d);
}

.m__l_shift_up {
  transform: translateY(-100px);
}

.m__l_name {
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  padding: 0;
  color: var(--primary_gen_head);
}

.m__l_prof {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: var(--primary_box_shado)
}

.m__hero__left img {
  height: 200px;
  width: 200px;
  position: relative;
  background-color: var(--logo_bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.m__l_logo {
  display: flex;
  justify-content: space-evenly;
  margin: auto auto;
  width: 80%;
  transform: translateY(-90px);
}


.m__l__contact {
  height: 350px;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--logo_bg);
  transform: translateY(-80px);
}

.cont__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
}

.c__title{
  color: var(--c__title)
}

.c__detail {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: var(--c_detain_gen);
  flex-direction: column;
  text-align: left;
}

.c_logo_item {
  padding: 1rem;
}

.bb {
  border-bottom: 1.5px solid var(--bb_border);
}

/* Main Body Left End */




/* Main Body Right Start */

.m__r__navigation {
  height: 90px;
  width: 503px;
  background-color: var(--logo_bg);
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  position: relative;
  justify-content: space-evenly;
  margin-bottom: 10px;
  align-items: center;
  margin-left: auto;
}

.nav__item {
  height: 70px;
  width: 70px;
  border-radius: 8px;
  display: flex;
  color: var(--primary_box_shado);
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary_bg);
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  /* background-image: linear-gradient(to left, #E80505, #FF9C1A); */
}



.m__hero__right {
  height: 800px;
  flex: 2.5;
}

.right_click {
  animation-name: left_right;
  animation-duration: 1s;
  animation-delay: -100ms;
  animation-timing-function: ease-in-out;
}

.left_click {
  animation-name: right_left;
  animation-duration: 1s;
  animation-delay: -100ms;
  animation-timing-function: ease-in-out;
}

.m__r__viewer {
  height: 700px;
  /* background-image: url("../public/images/rbg.jpg"); */
  background-color: var(--f_color_d);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  border-radius: 8px;
}

.m__r__viewer::-webkit-scrollbar {
  width: 0;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}


.nav_itm_sld {
  background-image: linear-gradient(to right, var(--primary_bg_dark), var(--primary_bg_light));
  color: var(--primary_bg);
}

/* Main Body Right End */

/* Main Body Design */


/* Footer Styles */



/* Footer Styles */



/* Responsive Styles */

@media screen and (max-width: 400px) {


  .gen__head_comp {
    align-items: center;
    width: fit-content;
  }

  .gen__head_comp h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 1rem 0;
  }

  .gen__head_comp span {
    width: 100px;
    height: 2px;
  }

  .gen__title {
    font-size: 25px;
    line-height: 32px;
    margin-top: 1rem;
  }

  /* Left */
  .m__hero {
    display: inline;
    height: auto;
  }

  .m__hero__left {
    margin-top: 75px;
    max-height: 650px;
    margin-bottom: 1rem;
  }

  body {
    padding: 0;
  }

  .m__hero__left img {
    height: 150px;
    width: 150px;
  }

  .m__l_shift_up {
    transform: translateY(-75px);
  }

  .m__l_prof {
    margin: 1rem;
  }

  .m__l_logo {
    transform: translateY(-75px);
  }

  /* Right */
  .m__r__navigation {
    height: 70px;
    width: 100%;
    background-color: var(--logo_bg);
  }

  .m__hero__right {
    height: 100%;
  }

  .nav__item {
    height: 60px;
    width: 60px;
    font-weight: 500;
  }

  .m__r__viewer {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    border-radius: 8px;
  }
}

/* Tablet devices */

@media screen and (max-width: 1000px) {
  .gen__head_comp h2 {
    font-size: 35px;
    line-height: 35px;
    padding: 1rem 0;
  }

  .gen__head_comp span {
    width: 150px;
    height: 2px;
  }

  .gen__title {
    font-size: 30px;
    line-height: 36px;
    margin-top: 1rem;
  }

  /* Left */
  .m__hero {
    display: inline;
    height: auto;
  }

  .m__hero__left {
    margin-top: 75px;
    max-height: 650px;
    margin-bottom: 1rem;
  }

  body {
    padding: 0;
  }

  .m__l_prof {
    margin: 1rem;
  }

  /* Right */
  .m__r__navigation {
    width: 100%;
  }

  .m__hero__right {
    height: 100%;
  }

  .m__r__viewer {
    height: 100%;
  }
}